/*-----------------------------------*\ 
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

 @media screen and (min-width: 550px) {

    :root {
  
        /**
        * typography 
        */
  
        --fs-base: 0.95rem;
  
    }
  
  
    /**
     * BLOG 
    */
    
  }
  
  
  
  
  
  /**
   * responsive for larger than 650px screen
   */
  
  @media screen and (min-width: 650px) {
  
    :root {
  
      /**
       * typography 
       */
  
       --fs-base: 1.083rem;
       --fs-1: 2.464rem;
       --fs-2: 1.971rem;
       --fs-3: 1.602rem;
       --fs-4: 1.219rem;
       --fs-5: 0.483rem;
  
    }
  
  
  
    /**
     * REUSED STYLE 
     */
  
    .container { padding: 0 30px; }
  
  
  
    /**
     * HEADER 
     */

    .service_wrapper {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }

  
    /**
     * FOOTER 
     */
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media screen and (min-width: 768px) {

    section {
      padding-top: 7rem;
      padding-bottom: 5rem;
    }
  
    /**
     * REUSED STYLE 
     */

     .container { max-width: 800px; }


      nav .nav_menu {
          display: block;
          background: none;
          position: unset;
          padding: unset;
          width: unset;
          height: unset;
          box-shadow: none;
      }

      nav .nav_menu .nav_list {
          display: flex;
          gap: 2rem;
      }

      .nav_close, .nav_toggle {
          display: none;
      }

      .home {
        height: 100vh;
      }

      .about_wrapper {
          grid-template-columns: 4fr 8fr;
          gap: 2rem;
      }
      .project_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .project_wrapper .project_card:nth-child(5n-1) {
          grid-column: span 2;
      }
      .blog_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .blog_wrapper .blog_square { width: 33.1vw; }
      .blog_wrapper .blog_square .mask { height: 250px; }  
  }




 @media screen and (min-width: 920px) {

  .service_wrapper {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  .contact_wrapper {
      grid-template-columns: 5fr 7fr;
      gap: 2rem;
  }

 }
  
  
  
  
  /**
   * responsive for larger than 1024px screen
   */
  
  @media screen and (min-width: 1024px) {
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-base: 1.315rem;
      --fs-1: 3.052rem;
      --fs-2: 2.441rem;
      --fs-3: 1.953rem;
      --fs-4: 1.563rem;
      --fs-5: 1.215rem;
  
    }
  
  
  
    /**
     * REUSED STYLE 
     */

     .container { max-width: 1140px; }

    .project_wrapper {
        grid-template-columns: repeat(3, 1fr);
        
    }
  
  
    /**
     * HEADER 
     */
  
  
    /**
     * HERO 
     */
   
  
  
    /**
     * FOOTER 
     */
  
  }